body {
    margin: 0;
    color: #eee;
    background-color: #222;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 0 55px #0009;
    margin-top: 50px;
}

.form_input {
    padding: 6px 20px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0 0 15px #0007;
    background-color: transparent;
    color: #eee;
}

textarea {
    min-width: 100%;
    resize: none;
}